.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0056b3;
    padding: 10px 20px;
    color: white;
  }
  
  /* Centro: logo y búsqueda */
  .navbar-center {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .navbar-logo {
    height: 50px;
  }
  
  .navbar-search {
    display: flex;
    align-items: center;
  }
  
  .navbar-search input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 15px 0 0 15px;
  }
  
  .navbar-search button {
    padding: 5px 10px;
    color: #0056b3;
    cursor: pointer;
    border: 1px solid #ccc;
    border-left: none;
    border-radius: 0 15px 15px 0;
    transition: background-color 0.3s;
}

.navbar-search button:hover {
    background-color: #ddd;
}
  
  /* Header */
  .header {
    background-size: cover;
    color: white;
    padding: 60px 20px;
    text-align: center;
  }
  
  .header h1 {
    font-size: 2.5rem;
  }
  
  /* Content */
  .content {
    padding: 20px;
    text-align: center;
  }
  
  .content h2 {
    color: #333;
    font-size: 1.8rem;
  }
  